<form action="/robots/<%= @robot.id %>" method="post" role="form">
  <p>Edit</p>
  <input type="hidden" name="_method" value="put">
  <p>Name: </p><input type="text" name="robot[name]" value="<%= @robot.name %>" class="form_control"><br>
  <p>City: </p><input type="text" name="robot[city]" value="<%= @robot.city %>" class="form_control"><br>
  <p>State: </p><input type="text" name="robot[state]" value="<%= @robot.state %>" class="form_control"><br>
  <p>Avatar: </p><input type="text" name="robot[avatar]" value="<%= @robot.avatar %>" class="form_control"><br>
  <p>Birthdate: </p><input type="text" name="robot[birthdate]" value="<%= @robot.birthdate %>" class="form_control"><br>
  <p>Date Hired: </p><input type="text" name="robot[date_hired]" value="<%= @robot.date_hired %>" class="form_control"><br>
  <p>Department: </p><input type="text" name="robot[department]" value="<%= @robot.department %>" class="form_control"><br>
  <input type="submit" class="form_control" value="submit">
</form>
